<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}
    {{ page.title }}
        {%if page.subtitle %} – {{page.subtitle}}{% endif %}
        |
    {% endif %}{{ site.title }} – {{site.subtitle}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i|Bentham" rel="stylesheet">


{% if page.js_include_photoswipe %}
<!-- photoswipe stuff -->
<!-- Core CSS file -->
<link rel="stylesheet" href="{{ site.baseurl }}/js/bower_components/photoswipe/dist/photoswipe.css">
<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite,
     - preloader.gif (for browsers that do not support CSS animations) -->
<link rel="stylesheet" href="{{ site.baseurl }}/js/bower_components/photoswipe/dist/default-skin/default-skin.css">
<!-- Core JS file -->
<script src="{{ site.baseurl }}/js/bower_components/photoswipe/dist/photoswipe.min.js"></script>
<!-- UI JS file -->
<script src="{{ site.baseurl }}/js/bower_components/photoswipe/dist/photoswipe-ui-default.min.js"></script>
<!-- END photoswipe stuff -->
{% endif %}

{% if page.js_include_slick_carousel %}
<!-- slick carousel stuff -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/js/bower_components/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/js/bower_components/slick-carousel/slick/slick-theme.css"/>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/bower_components/slick-carousel/slick/slick.min.js"></script>
<!-- END slick carousel stuff -->
{% endif %}

<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />

<script src="{{ site.baseurl }}/js/main.js"></script>

